<!DOCTYPE html>
><html>
  <head>
    <title> Login Page</title>
  </head>
  <body>
    <h2>  LOGIN </h2>

    Email:  <input type="email" id="email" placeholder="please enter your email" [(ngModel)] = "email"/> 
    Password: <input type ="password" id="pwd" placeholder = "enter your password" [(ngModel)] = "password"/> 
    <br/><br/>


    <button type="submit"  id="submit" (click) = "Submit()">Submit</button> &nbsp;
    <button type ="submit" id="cancel" (click) = "Cancel()">Cancel</button>
    


    <!-- <div>
      <p>Email: {{ email }}</p>
      <p>Password: {{ password }}</p>
    </div> -->

  </body>
</html>