<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
  <div class ="nav">
<ul>
  <li><a href="#profile">Profile</a></li>
  <li><a href="#contact">Contact</a></li>
  <li><input type="search" placeholder="Search.."></li>
  
 

  <button type="submit"><i class="fa fa-search"></i></button>
  <br>
  <br>
  <br>

  <button (click)="toggleLogin()" *ngIf="!isLoggedIn">
    Login
  </button>
  <button (click)="toggleLogin()" *ngIf="isLoggedIn">
    Logout
  </button>
</ul>
</div>


</body>
</html>


