<!DOCTYPE html>
<html>
<head>
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

  <div class ="nav">
    
<!-- <ul>
  <li><a href="#profile">Profile</a></li>
  <li><a href="#contact">Contact</a></li>
  <li><input type="search" placeholder="Search.."></li> -->
  

  <button type="submit"><i class="fa fa-search"></i></button>

  <button type = "onsubmit" (click)="toggleLogin()">
    {{ isLoggedIn ? 'Logout' : 'Login' }}
  </button>

  
<!-- </ul> -->


<ul>
  <li> <a routerLink = "/login">Login</a></li>
  <li> <a routerLink="/signup">Signup</a></li>
  <li> <a routerLink="/profile">Profile</a></li>
</ul>
</div>

</body>
</html>


