ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: black;
  }
  
  
  
  li a {
    display: block;
    float: left;
    padding: 14px 16px;
    text-decoration: none;
    color: white;
  }
  
  


  .nav input[type=search] {
    padding: 4px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 15%;
    background: #f1f1f1;
  }

  .nav button[type =submit] {
    float: left;
    width: 5%;
    padding: 4px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-right: none;
    cursor: pointer;
    
  }

  .nav button[type =onsubmit]
  {
    float:right;
    width: 10%;
    padding: 5px;
    background: brown;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-right: none;
  }



