<!DOCTYPE html>
<html>
  <head>
    <title>Signup</title>
  </head>
  <body>
    <h2>SIGNUP</h2>
    <div>
      <form id="myForm" class="form1">

      FirstName: <input type="text" id="fname" placeholder="please enter your first name"/>
      <br/>
      LastName: <input type="text" id="lname" placeholder="please enter your last name"/>
      <br/>
      DOB: <input type="date" id="dob" placeholder="please enter your date of birth"/>
      <br/>
      Phone: <input type="phone" id="phone" placeholder="please enter your birthdate"/>
      <br/>
      Email: <input type="email" id="email" placeholder="please enter valid email"/>
      <br/>
      Password: <input type="password" id="pwd" placeholder="enter 8 digits password"/>
      <br/>
      Confirm Password: <input type="password" id="pwd" placeholder="enter same password as above"/>
      <br/> <br/>

      <button type = "submit">Submit</button> &nbsp;
      <button type="reset">Reset</button>

    </form>

      
    </div>
  </body>
</html>